@charset "utf-8";
/* CSS Document */
html,body,div,p,form,label,ul,li,dl,dt,dd,ol,img,button,h1,h2,h3,h4,h5,h6,b,em,strong,small{
	margin:0;
	padding:0;
	border:0;
	list-style:none;
	font-style:normal;
	font-weight:normal;
}
dl,dt,dd{
	display:block;
	margin:0;
}
a{
	text-decoration:none;
}
body{
	font-family:Microsoft YaHei,Verdana,Arial,SimSun;
	color:#666;
	font-size:14px; 
	overflow:hidden;
	background-image: url(../images/bg13.jpg);
}
.block, #block{
	display:block;
}
.none, #none{
	display:none;
}
#logoPicture{
	margin-top: 0px;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	position: absolute;
}
.header h1{
	margin-top: 0px;
	margin-left: 85px;
	line-height:80px;
	color: white; 
	letter-spacing:3px;
	position: absolute;
}
.user-icon{
	float: right;
	margin-top: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.navigation{
	float:right;
	margin-right: 10px;
	margin-top: 10px;
	color:#fff;
	font-size:22px;
}
.navigation ul li{
	line-height: 40px;
	margin-top: 20px;
	float: left;
	font-size: 20px;
	color: white;
	z-index:100;
}
.navigation ul img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.navigation ul li ul{
	display: none;
	background-color: #fff;
	width: 88px;
}
.navigation ul li:hover ul{
	z-index: 10;
	position: absolute;
	display: block;
}
.navigation ul li ul li{
	margin-top: 0px;
	display: block;
	width: 88px;
	height: 38px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	background-color: #DCDCDC;
	color: #000;
}
.footer{
	height:50px;
	line-height:50px;
	background:#5e5e5e;
	width:100%;
	position:fixed;
	color: #dcdcdc;
	z-index:2;
	bottom:0;
	text-align:center;
}
#footer p{
	text-align:center;
	line-height:50px;
	color:#fbfbfb;
	opacity: 0.3;
}
/*****主体部分******/
#content{
 width:100%;
 top:80px;
 position:absolute;
 bottom:50px;
}
.left_menu{
	float:left;
	margin-left: -4px;
	margin-bottom: -30px;
	width:22%;
	height:100%;
	left:0;
	background-color: rgba(0,0,0,.2);
	position: absolute;
	z-index: 999;
}
.left_menu ul li {
	width:300px; 
	display:inline; 
}
.left_menu ul li .list-item a{
	width:230px;
	padding-left:110px;
	text-decoration:none;
	font-size:14px;
	color:#f5f5f5;
	line-height:30px;
	display:block;}
.left_menu ul li a.noline {
  border-bottom:none; 
 }
.left_menu ul li a:link{
  color:#fff; 
 }
.left_menu ul li a:visited{
  color:#fff; 
 } 
.left_menu ul li a:hover{
	color:#008; 
} 
.left_menu ul li a:active{
             color:#008; 
}         
.left_menu ul li a.selected:hover { 
	color:#000; 
}
.left_menu ul li h4 { 
	cursor:pointer; 
	background:url(../images/bg1.png) no-repeat 270px 18px; 
	padding-left:60px; 
	text-decoration:none; 
	font-size:16px; 
	color:#f5f5f5; 
	display:block;  
	line-height:48px; 
	font-weight:normal; 
}
.left_menu ul li.noline { 
	border-bottom:none; 
}
.left_menu ul li.selected h4 { 
	background-position:270px -45px;
	background-color:#00a5a5;
}
.left_menu li .list-item { 
	padding:5px 0; 
	position:relative; 
	zoom:1 ;
	background:#11b6b6;
	overflow:hidden;
}
.left_menu h4 span{
	display: block;
	float: left;width: 20px;
	height: 26px;margin-right: 10px;
	padding-right: 10px;
	background-repeat: no-repeat;
	margin-top: 12px;
}
.userlist h2{
	font-size: 20px;
}
.M1 span{
	background:url(../images/ioc.png) 0 -6px;
}
.M2 span{
	background:url(../images/ioc.png) -36px -6px;}
.M3 span{
	background:url(../images/ioc.png) -72px -6px;}
.M4 span{
	background:url(../images/ioc.png) -36px -40px;}
.M5 span{
	background:url(../images/ioc.png) -72px -40px;}
.M6 span{
	background:url(../images/ioc.png) -1px -40px;}
.M7 span{
	background:url(../images/ioc.png) -1px -70px;}
.M8 span{
	background:url(../images/ioc.png) -36px -70px;}
.M9 span{
	background:url(../images/ioc.png) -72px -70px;}
.M10 span{
	background:url(../images/ioc.png) -3px -105px;}
/***右侧内容****/
.m-right{
	z-index: -1;
}
.main{
	margin-top: 0px;
	width:60%;
	height:100%;
	margin-left: 22%;
	overflow:auto;
	background-color: rgba(00,00,00,0.2);
	position: absolute;
}
.r-menu-top{
	width: 16.9%;
	height: 36px;
             margin-bottom:0px;
             margin-top: 0px; 
             margin-left: 82.3%;
             text-align: center;
             background-color: rgba(0,0,0,.2);
             z-index: -1;
}
.r-menu-content{
	background-color: rgba(00,00,00,0.2);
	width: 17.7%;
	height: 459px;
	margin-top: 5px;
	margin-left: 82.3%;
	position: absolute;
	overflow:scroll;
}
.content{
	margin-top: 20px;
	width: 200px;
	height: 60px;
	float: left;

}
.r-menu-content li {
	width: 120px;
	height: 60px;
	float: left;
	position:absolute;
	margin-left: 80px;
	color: #fff;
}
.r-menu-content img{
	width: 50px;
	height: 50px;
	float: left;
	position: absolute;
	border-radius: 50%;
	margin-left: 20px;
}                      