@charset "utf-8";
/* CSS Document */
html,body,div,p,form,label,ul,li,dl,dt,dd,ol,img,button,h1,h2,h3,h4,h5,h6,b,em,strong,small{
	margin:0;
	padding:0;
	border:0;
	list-style:none;
	font-style:normal;
	font-weight:normal;
}
dl,dt,dd{
	display:block;
	margin:0;
}
a{
	text-decoration:none;
}
body{
	font-family:Microsoft YaHei,Verdana,Arial,SimSun;
	color:#666;
	font-size:14px; 
	overflow:hidden;
	background-image: url(../images/bg.png);
}
.block, #block{
	display:block;
}
.none, #none{
	display:none;
}
#logoPicture{
	margin-top: 0px;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	position: absolute;
}
.header h1{
	margin-top: 0px;
	margin-left: 85px;
	line-height:80px;
	color: white; 
	letter-spacing:3px;
	position: absolute;
}
.user-icon{
	float: left;
	margin-top: 10px;
	margin-right: 7px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.navigation{
	float:right;
	margin-right: 50px;
	margin-top: 10px;
	color:#fff;
	font-size:22px;
}
.navigation ul li{
	line-height: 40px;
	margin-top: 20px;
	float: left;
	font-size: 20px;
	color: white;
	z-index:100;
}
.navigation ul img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.navigation ul li ul{
	display: none;
  width: 88px;
}
.navigation ul li ul:visited{
	display: none;
	background-color: #fff;
	width: 88px;
}
.navigation ul li ul:hover{
	display: none;
	background-color:#000;
	width: 88px;
}
.navigation ul li ul:active{
	display: none;
	background-color: #000;
	width: 88px;
}
.navigation ul li:hover ul{
	z-index: 10;
	position: absolute;
	display: block;
	background-color: #fff;
}
.navigation ul li ul li{
	margin-top: 0px;
	display: block;
	width: 88px;
	height: 38px;
	border-style: solid;
	border-color: white;
	text-align: left;
	background-color:#fff;
}
.navigation ul li ul li:link{
	margin-top: 0px;
	display: block;
	width: 88px;
	height: 38px;
	border-style: solid;
	border-color: white;
	text-align: left;
	background-color:  rgba(0,0,0,.2);
}
.navigation ul li ul li:visited{
	margin-top: 0px;
	display: block;
	width: 88px;
	height: 38px;
	border-style: solid;
	border-color: white;
	text-align: left;
	background-color:#000;
}
.navigation ul li ul li:hover{
	margin-top: 0px;
	display: block;
	width: 88px;
	height: 38px;
	border-style: solid;
	border-color: white;
	text-align: left;
	background-color: rgba(0,0,0,.2);
}
.navigation ul li ul li:active{
	margin-top: 0px;
	display: block;
	width: 88px;
	height: 38px;
	border-style: solid;
	border-color: white;
	text-align: left;
	background-color:#fff;
}


.navigation ul li ul li a:link{
	text-decoration:none;
	color: #00f;
}
.navigation ul li ul li a:visited{
	text-decoration:none;	
	color: #000;
}
.navigation ul li ul li a:hover{
	text-decoration:none;	
	color: #00f;
}
.navigation ul li ul li a:active{
	text-decoration:none;	
	color: #000;
}
.footer{
	height:50px;
	line-height:50px;
	background:#5e5e5e;
	width:100%;
	position:fixed;
	color: #dcdcdc;
	z-index:2;
	bottom:0;
	text-align:center;
}
#footer p{
	text-align:center;
	line-height:50px;
	color:#fbfbfb;
	opacity: 0.3;
}
/*****主体部分******/
#content{
 width:100%;
 top:80px;
 position:absolute;
 bottom:50px;
}
.left_menu{
	float:left;
	margin-left: -4px;
	margin-bottom: -30px;
	width:22%;
	height:100%;
	background-color: rgba(0,0,0,0.2);
}
.left_menu ul li {
	width:300px;
	display:inline; 
}
.left_menu ul li a.noline {
  border-bottom:none; 
 }
.left_menu ul li a:link{
	text-decoration: none;
  color:#fff; 
 }
.left_menu ul li a:visited{
	text-decoration: none;
  color:#fff; 
 } 
.left_menu ul li a:hover{
	text-decoration: none;
  color:#dcdcdc; 
}
.left_menu ul li a:active{
	text-decoration: none;
  color:#dcdcdc; 
}         
.left_menu ul li a.selected:hover {
  text-decoration: none; 
	color:#000; 
}
.left_menu ul li h4 { 
	cursor:pointer; 
	background:url(../images/bg1.png) no-repeat 270px 18px; 
	padding-left:50px; 
	padding-top: 10px;
	text-decoration:none; 
	font-size:16px; 
	color:#f5f5f5; 
	display:block;  
	line-height:15px; 
	font-weight:normal; 
	z-index: 10;
}
.left_menu ul li .list-item a{
	width:230px;
	padding-left:110px;
	text-decoration:none;
	font-size:14px;
	color:#f5f5f5;
	line-height:30px;
	display:block;
}
.left_menu ul li .list-item{
	margin-top: -10px;
}
.left_menu span{
	color:white;
	width:30px;
	height:30px;
	padding-right:80px
}
.left_menu span:hover{
	color:#dcdcdc; 
}
.left_menu ul li.noline { 
	border-bottom:none; 
}
.left_menu ul li.selected h4 { 
	background-position:270px -45px;
	background-color: rgba(00,00,00,0.2);
}
.left_menu li .list-item { 
	padding:5px 0; 
	position:relative; 
	zoom:1 ;
	background: rgba(00,00,00,0.2);
	overflow:hidden;
}
.userlist h2{
	font-size: 20px;
}
/***右侧内容****/
.m-right{
	z-index: -1;
}
.main{
	margin-top: 0px;
	width:60%;
	height:100%;
	margin-left: 22%;
	overflow:auto;
	background-color: rgba(250,250,250,0.2);
	position: absolute;
}
#search_box{
	width: 17%;
	height: 36px;
 	margin-bottom:0px;
 	margin-top: 0px; 
 	margin-left: 82.3%;
 	text-align: center;
 	background-color: rgba(0,0,0,.2);
 	z-index: -1;
 	border: 2px solid #0066cc;
}
#search_box #s {
	float: left;
	padding: 0;
	margin-top:3px;
	margin-left:3px;
	width: 190px;
	height:27px;
	background: none;
	font-size:18px;
	color:#CCCCCC;
	font-family:"黑体";
	border-top: 0 none;
	border-right: 0 none;
	border-bottom: 0 none;
	border-left: 0 none;
} 
#search_box #go { 
float: right; 
margin: 3px 4px 0 0; 
} 


.r-menu-content{
	background-color: rgba(00,00,00,0.2);
	width: 17.7%;
	height: 530px;
	margin-top: 5px;
	margin-left: 82.3%;
	position: absolute;
	overflow:scroll;
}
.content{
	margin-top: 20px;
	width: 200px;
	height: 60px;
	float: left;
}
.content ul li a{
	color: #b0c4de;
}
.content ul li a:hover{
	cursor: pointer;
	color: #ffd700;
	text-decoration: none;
}
.r-menu-content li {
	width: 120px;
	height: 60px;
	float: left;
	position:absolute;
	margin-left: 80px;
	color: #fff;
}
.r-menu-content img{
	width: 50px;
	height: 50px;
	float: left;
	position: absolute;
	border-radius: 50%;
	margin-left: 20px;
}  
.left_reduce{
	float:left;
	margin-left: -301px;
	margin-bottom: -30px;
	width:6%;
	height:100%;
	display: none;
	background-color: rgba(0,0,0,0.2);
}
.left_reduce ul{
	margin-top: 18px;
}
.left_reduce ul li{ 
	cursor:pointer; 
	display: inline;
	padding-left: 35px; 
	padding-top: 7px;
	text-decoration:none; 
	font-size:16px; 
	color:white; 
	display:block; 
	width:36px;  
	height:48px; 
	font-weight:normal; 
	z-index: 10;
}
.left_reduce span{
	color:white;
	width:30px;
	height:30px;
	padding-right:80px
}
.left_reduce ul li ul{
	display: none;
	margin-top: -30px;
	position:absolute;
}
.left_reduce ul li:hover ul{
	display: block;
	z-index: 999;
	position: absolute;
}
.left_reduce ul li span:hover{
	color:grey;
}
.left_reduce ul li ul li:hover{
	background-color: rgba(00,00,00,0.4);
}
.left_reduce ul li ul li{
	width: 100px;
	height: 45px;
	margin-left: 47px;
	padding-left: 20px;
	padding-top: 10px;
	background-color: rgba(00,00,00,0.3);
}
.left_reduce ul li ul li a{
	color: white;
	text-decoration: none;
}

.glyphicon-th-list {
	width: 10px;
	height: 10px;
	cursor:pointer;
	color:#a9a9a9;
	margin-left:200px;
	margin-top: 40px;
}
#sideToggle{ 
  display:none; 
}
#sideToggle:checked ~ .main{ 
  margin-left:87px;
  width:1032px;
}
#sideToggle:checked ~ .left_menu{ 
  margin-left: -301px; 
  -webkit-transform:none; 
  transform:none;
}
#sideToggle:checked ~ .left_reduce{
	display:block;
	margin-left:0px;
}
body .left_menu{
	transition:0s ease-out; 
  -webkit-transition:0s ease-out;
}
body .main{
	transition:0.05s ease-out; 
  -webkit-transition:0.05s ease-out;
}
::-webkit-scrollbar {
    width:10px;
}           
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}           
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:rgba(00,00,00,0); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);              
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(ff,ff,ff,0); 
              
}