/* CSS Document */
#login_frame{
position:absolute;
left:480px;
top:50px;
height:525px;
width:380px;
}

.login_form{
height:410px;
width:100%;
background-color:#235127;
border-radius: 15px;
}

.login_page_background{
	width:100%;
	height:100%;
	margin:-10px;
	background:transparent url("../images/bg10.jpg") no-repeat scroll 0px 0px / cover;
	background-attachment: fixed
}

.TC{
text-align:center;
height:110px;
width:100%;
padding-bottom:5px;
border-radius: 15px 15px 0px 0px;
background:transparent;
}

.logo_img{
text-align:center;
height:110px;
width:100%;
padding-bottom:15px;
border-radius: 15px 15px 0px 0px;
background:transparent;
}

.user_name{
height:80px;
padding-top:20px;
}

.password{
height:80px;
padding-top:25px;
padding-bottom:0px;
}

.login{
height:80px;
width:100%;
border-radius:0px 0px 15px 15px;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
}

.name_text{
width:65%;
background:url(../images/adm.png) no-repeat scroll 10px 15px;
padding: 18 15 10 50;
color: #FFFFFF;
font-size: 18px;
font-weight:100;
border-width: medium medium 1px;
border-style: none none solid;
border-color: #484856;
margin: 10 0 0 0;
}

.password_text{
width:65%;
background:transparent url(../images/key.png) no-repeat scroll 10px 15px;
padding: 5 15 10 50;
color: #FFFFFF;
font-size: 18px;
font-weight:100;
border-width: medium medium 1px;
border-style: none none solid;
border-color: #484856;
margin: 10 0 0 0;
}

.login_button {
  border: 0 none;
  font-family: Arial,sans-serif;
  font-size: 30px;
  font-weight:normal;
  line-height: 20px;
  width: 100%;
  height:50px;
  text-align: center;
  border-radius: 15px;
  padding-top:25px;
  background-color:transparent;
  color:#152F17;
}
.green {
   background: none repeat scroll 0 0 #489E3F;
}
.green:hover {
   background:transparent url("../images/cow4.jpg") no-repeat scroll 0px 0px / cover;
}

.span{
text-align:center;
color:#8BD248;
font-size:37px;
font-family:"Microsoft JhengHei Light"
}

.logo{
	border-radius:100px;
	width:100px;
	height:100px;
	margin-top: 25px;
	border: thick solid #162F10;
}


