ul li{
	margin-top: 10px;
	list-style: none;
}
#submit{
	width: 100px;
	height: 30px;
	border-radius: 10px;
	background-color: #2ecc40;
	font-size: 16px;
	font-weight: 600;
	color: white;
	margin-left: 5%;
}
#submit:hover{
	background-color: #3D9970;
}